* {
	padding: 0em;
	margin: 0em;
}

html, body{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: auto;
	scroll-behavior: smooth;
}

@font-face {
	font-family: lemondrop;
	src: url(Lemondrop.ttf);
}

#container{
	margin: auto;
	overflow: hidden;
}

a#vaialcontenuto, a#vaialcontenuto:hover, a#vaialcontenuto:visited {
	position: absolute;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	color: black;
}

a#vaialcontenuto:active, a#vaialcontenuto:focus {
	position: static;
	width: auto;
	height: auto;
}

div#navbar{
	z-index: 2;
	position: fixed;
	width: 100%;
	display: block;
	text-align: center;
}

ul.nav {
	list-style-type: none;
	margin: auto;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	height: 80px;
}

li.h{
	float: left;
	text-align: center;
	width: 25%;
}

li.logo {
	display: none;
}

a.navele {
	display: inline-block;
	padding-top: 27px;
	font-size: 1em;
	width: 100%;
	height: 51px;
	text-align: center;
	color: white;
	user-select: none;
}

a.navele:hover {
	background-color: rgba(20, 20, 20,  0.3);
	color: rgba(255, 255, 255, 0.7);
	border-top: 3px solid blue;
}

a.navele:active{
	background-color: rgba(20, 20, 20,  0.8);
	color: white;
}

/* SUBHEADER---------------------------------*/

div#subheader{
	z-index: 1;
	width: 100%;
	min-height: 595px;
	max-height: 900px;
	height: 100vh;
	text-align: center;
	position: relative;
	background-image: url("../images/sfondoheader.jpg");
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

img.logotitle {
	margin-top: 15vh;
	width: 200px;
}

h1#maintitle {
	position: relative;
	text-align: center;
	margin: auto;
	text-shadow: 6px 6px #343091;
	font-size: 3em;
	color: white;
	font-family: lemondrop, Verdana, Arial, Helvetica, sans-serif;
}

h1#subtitle {
	position: relative;
	font-size: 1.9em;
	color: white;
	text-shadow: 4px 4px #343091;
	margin-bottom: 14px;
	font-family: lemondrop, Verdana, Arial, Helvetica, sans-serif;
}

ul#cinfo {
	list-style-type: none;
	margin: auto;
}

li.shinfo {
	color: white;
	display: table;
	text-shadow: 2px 2px black;
	position: relative;
	text-align: center;
	margin: auto;
	font-size: 1.2em;
	background-color: rgba(0, 0, 0, 0.4);
	width:auto;
}

a.linkbutton1 {
	position: relative;
	top: 40px;
	color: black;
	font-size: 1.1em;
	background-color: rgba(255, 255, 255, 1);
	padding: 15px;
	border-radius: 25px;
	border: 1.5px solid black;
	transition: 0.4s ease;
	user-select: none;
}

a.linkbutton1:hover {
	background-color: rgba(250, 250, 250, 0.9);
	color: blue;
	border-color: blue;
}


a.scrolldownbutton {
	position: absolute;
	bottom: 2px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 75px;
	padding: 0px 1px;
	display: block;
	color: white;
	font-size: 5em;
	border-radius: 25px;
	transition: 0.4s ease;

}

a.scrolldownbutton:hover {
	background-color: rgba(0, 0, 0, 0.5);	
}

/*slideshow---------------------------------------*/
div#risto {
	border-top: 1.5px solid black;
	display: block;
	height: 900px;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
}


div#slideshowcontainer {
	position: relative;
	display: block;
	width: 96%;
	overflow: hidden;
	height: 350px;
	text-align: center;
	margin: 50px 2% 0 2%;
	border-radius: 10px;
}

.slideimg{
	position: absolute;
    top: 90%;
    left: 40%;
	transform: translateX(-40%) translateY(-90%);
    min-width: 100%;
    min-height: 100%;
}

.slide{
	display: none;
}

#prev, #next {
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 70px;
	margin-top: auto;
	margin-bottom: auto;
	width: auto;
	padding: 0 16px;
	color: white;
	background-color: rgba(0,0,0,0.4);
	font-weight: bold;
	font-size: 25px;
	transition: 0.6s ease;
	user-select: none;
	border: none;
}

#prev {
	left: 0;
	border-radius: 0 3px 3px 0;
}

#next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
	background-color: rgba(0,0,0,0.8);
}

/*ilristoraante--------------------------------*/

div#descrizione{
	width: 80%;
	height: 350px;
	margin: auto;
	padding-top: 75px;
	position: relative;
	text-align: center;
	
}

p.tdesc {
	color: black;
	margin-top: 20px;
	line-height: 25px;
}

#indstrad:hover {
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	border-color: black;
}

/*-MENU barra--------------------------------------------------------*/
div#menu {
	position: relative;
	text-align: center;
	background-color: rgba(230, 230, 230, 1);
}

h2#titolonavmenu {
	padding-top: 80px;
	padding-bottom: 10px;
}

div#menunav {
	text-align:center;
}

ul.navmenugruppo {
	margin-top: 5px;
}

li.navmenuele {
	display: inline;
}

.btn {
	display: inline-block;
	background-color: rgba(20, 20, 20, 0.6);
	color: white;
	font-size: 1em;
	width: 100px;
	padding: 20px 0;
	margin: 2px -2px;
	cursor: pointer;
	text-decoration: underline;
	user-select: none;
	border: none;
	outline: none;
}

.btn:hover {
	background-color: rgba(20, 20, 20,  0.7);
}

.active, .active:hover{
	background-color: white;
	border: 2px solid  black;
	margin-top: -1px;
	border-bottom: 0px;
	color: black;
	text-decoration: underline;
	cursor: default;
}



/*lista elementi MENU--------------------------------------------------------*/
div#listaelemenu {
	position: relative;	
	text-align: center;
	background-color: rgba(230, 230, 230, 1);
}

.ulmenu{
	width: 95%;
	margin: auto;
	list-style-type: none;
	overflow: hidden;
	margin-bottom: 30px;
}

li.allmenu{
	padding: 23px 0;
	font-size: 1.1em;
	border-top: 1px solid rgb(200, 200, 200);
	text-align: left;
}



p.elenome {
	
	color: black;
	position: relative;
	display: inline-block;
	margin-left: 1%;
	width: 75%;
	text-align: left;
}

p.eleprezzo {
	float: right;
	color: black;
	position:relative;
	display: inline-block;
	right: 1%;
}

.liprimo, .lisecondo, .licontorno, .lipfreddo, .lidolce{
	display: none;
}

p#infoallergeni {
	border-top: 1px solid rgb(200, 200, 200);
	width: 97%;
	margin: auto;
	font-size: 0.8em;
	padding-bottom: 90px;
	color: rgb(90, 90, 90);
}

/* prenota---------------------------------------------------*/
	
div#prenota{
	position: relative;
	background-image: url("../images/ristorantealto.jpg");
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 83px 0 45px 0;
}	
	
div#formprenota {
	width: 90%;
	max-width: 500px;
	margin: auto;
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	padding: 8px;
}

fieldset {
	border:1px solid white;
}

legend {
	color: white;
	font-size: 1.2em;
	text-align: center;
	margin: 0 20px;
}

h2#hprenota {
	color: white;
	font-size: 1.7em;
	margin-bottom: 10px;
}

input{
	position: relative;
	width: 80%;
	max-width: 350px;
	height: 50px;
	display: inline-block;
	padding: 10px 20px;
	margin: auto;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	border: 2px solid black;	
	box-sizing: border-box;
	font-size: 1.2em;
}




input:hover {
	background-color: white;
}

input:focus {
	border: 2px solid blue;
	background-color: white;
}

label{
	position: relative;
	display: block;
	width: 70%;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 5px;
	color: white;
	text-align: left;
	font-size: 1.2em;
}

input#submitprenota {
	width: 120px;
	display: inline-block;
	padding: 13px;
	margin: 20px 10px;
	color: black;
	font-size: 1.3em;
	background-color: rgba(250, 250, 250, 1);
	border-radius: 25px;
	border: 2px solid black;
	text-decoration: underline;
	transition: 0.4s ease;
}

input#submitprenota:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: blue;
	border-color: blue;
	
}

textarea#note {
	display: block;
	margin: auto;
	width: 80%;
	max-width: 350px;
	height: 80px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	resize: none;
	font-size: 1.2em;
}

#note:hover {
	background-color: white;
}

#note:focus{
	border: 2px solid blue;
	background-color: white;
}

p#infoprenota{
	color: white;
	margin: 10px;
}

p#njserror {
	display: none;
}

/*contatti--------------------------------------------------------*/

div#contatti {
	position: relative;
	width: 100%;
	height: 710px;
	overflow: hidden;
	background-color: rgb(40, 40, 40);
	border-top: 1.5px solid rgb(90, 90, 90);
	text-align: center;
}

div#logof {
	position: relative;
	display: block;
	width: 80%;
	text-align: center;
	margin: auto;
	margin-top: 20px;
}

img.logocontatti{
	position: relative;
	width: 100%;
	max-width: 350px;
}

div#infocontatto {
	position: relative;
	width: 80%;
	margin: auto;
	margin-top: 30px;
	padding: 40px 0;
	border-top: 1px solid rgb(90, 90, 90);
	border-bottom: 1px solid rgb(90, 90, 90);
}

h3 {
	color: rgb(150, 150, 150);
	text-align: center;
	font-size: 1.4em;
}

ul.cinfofoot {
	list-style-type: none;
	color: white;
	text-align:left;
}

li.foot {
	display: block;
	margin: 20px 0 0 5% ;
}

.f {
	margin: 0 6px;
	font-size: 1em;
	padding: 5px 4px;
	float: left;
	color: rgb(130, 130, 130);
}

div#social{
	position: relative;
	width: 100%;
	margin: auto;
	margin-top: 45px;
	text-align:center;
}

a.fo {
	padding: 20px;
	font-size: 50px;
	width: 25%;
	text-align: center;
	text-decoration: none;
	color: white;
	position: absolute;
}

.fa-facebook{
	background: #3B5998;
	right: 50.5%;
}

.fa-arrow-up{
	background: rgb(90, 90, 90);
	left: 50.5%;
}

a.fo:hover {
  opacity: 0.7;
}

/*end--------------------------------------------------------*/

div#end {
	position: relative;
	width: 100%;
	height: 60px;
	overflow: hidden;
	background-color: black;
	text-align: center;
}

p#piva {
	font-size: 0.7em;
	color: rgb(190, 190, 190);
	margin-top: 22px;
}

.error {
	color: red;
	right: 0px;
	font-size: 1.1em;
	position:absolute;
}
.formerror{
	font-size:1em;
	color:#fff;
	text-align:left;
	margin:10px;
	margin-left:13%;
	list-style-type:none;
}

.err{
	color: red;
	margin: 5px;
}

div#errbox {
	background-color: rgba(255, 0, 0, 0.3);
	margin: auto;
	width: 98%;
}

div#confirmbox {
	background-color: rgba(0, 255, 0, 0.3);
	margin: auto;
	width: 98%;
}